<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EngineChartViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EngineChartViewer.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>476</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PowerSeriesVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="TorqueSeriesVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="BackTorqueSeriesVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="LastSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerUnit" serializeAs="String">
                <value>KW</value>
            </setting>
            <setting name="TorqueUnit" serializeAs="String">
                <value>Nm</value>
            </setting>
            <setting name="PowerColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="TorqueColor" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="BackTorqueColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="FuelConsumptionColor" serializeAs="String">
                <value>#FF806000</value>
            </setting>
            <setting name="FuelConsumptionSeriesVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
        </EngineChartViewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
