<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EngineChartViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EngineChartViewer.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="PowerSeriesVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="TorqueSeriesVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="BackTorqueSeriesVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="LastSaveLocation" serializeAs="String">
                <value />
            </setting>
        </EngineChartViewer.Properties.Settings>
    </userSettings>
</configuration>